@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Muli:200,300,300i,400,800&display=swap&subset=latin-ext');

html {

/* Light mode */
--color-text-dark: #0C1B3D;
--color-text-head-dark: #FF00FF;

/* Dark mode  */
--color-text-light: #15F4EE;
--color-text-head-light: #CCFF00;

/* Fonts */
--font-body: 'Muli', sans-serif;
--font-head: 'Poppins', sans-serif;
}

p {
    font-family: var(--font-body);
    font-size: 0.8em;
	line-height: 1.25rem;
    font-weight: 200;
    color: var(--color-text-dark);
}

a {
    font-family: var(--font-body);
    font-size: 0.8em;
	line-height: 1.25rem;
    font-weight: 400;
    color: var(--color-text-head-dark);
}

h1 {
    font-family: var(--font-head);
    font-size: 3em;
	line-height: 2.5rem;
    font-weight: 600;
    color: var(--color-text-dark);
}

h2 {
    font-family: var(--font-head);
    font-size: 2em;
	line-height: 2.5rem;
    font-weight: 600;
    color: var(--color-text-head-dark);
}

h3 {
    font-family: var(--font-head);
    font-size: 1.25em;
	line-height: 1.75rem;
    font-weight: 600;
    color: var(--color-text-dark);
}

h4 {
    font-family: var(--font-head);
    font-size: 1.25em;
	line-height: 2rem;
    font-weight: 400;
    color: var(--color-text-dark);
}

button {
    border: 0.25rem solid var(--color-text-head-light);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    font-family: var(--font-head);
    font-weight: 700;
    background: transparent;
}

legend {
    font-family: var(--font-head);
    font-size: 1em;
	line-height: 1.75rem;
    font-weight: 600;
    color: var(--color-text-dark);
}

label {
    font-family: var(--font-body);
    font-size: 0.8em;
	line-height: 1.25rem;
    font-weight: 400;
    color: var(--color-text-dark);
}

data {
    font-family: var(--font-head);
    font-size: 1.5em;
	line-height: 1.75rem;
    font-weight: 700;
    color: var(--color-text-dark);
}

.wrapper {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "nav"
    "main" 
    "foot";
}

/* NAV */

.nav {
    grid-area: nav;
}

.nav-bar {
    display: grid;
    grid-template-columns: 3rem auto 3rem;
    grid-template-areas: 
    "cart logo ham";
    padding: 1rem;
}

.nav-cart {
    grid-area: cart;
}

.nav-cart img {
    width: 3rem;
	position: fixed; 
    z-index: 98;
}

.nav-logo {
    grid-area: logo;
    justify-self: center;
}

.nav-logo img {
    width: 3rem;
}

.nav-ham {
    grid-area: ham;
}

.nav-ham img {
    width: 3rem;
    position: fixed; 
    z-index: 99;
}

.whole-main {
    grid-area: main;
    padding: 1rem;
}

/* pagination */

.pagination {
    display: flex;
    justify-content: center;
    font-family: var(--font-head);
    color: var(--color-text-dark);
    margin: 0 0 2rem 0;
}

.pagination a { 
    font-weight: 600; 
    font-size:1.25rem; 
    padding: 1rem; 
    text-decoration: none; 
} 

.pagination a.active { 
    background-color: var(--color-text-light); 
} 

.pagination a:hover:not(.active) { 
    background-color: var(--color-text-head-light); 
} 

.visuallyhidden {
    display: none;
}

/***footer***/
.foot {
    grid-area: foot;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "social email "
    "copy copy";
    background-color: var(--color-text-dark);
    color: var(--color-text-light);
    padding: 1rem;
}

.foot p {
    color: var(--color-text-light);
}

.foot-social-links {
    grid-area: social;
}

.foot-social-links img{
    width: 2rem;
    margin: 0.3rem 0.6rem 0.3rem 0;
}

.email {
    grid-area: email;
    align-self: center;
}

.copy {
    grid-area: copy;
}


/******************************** responsive **********************************/

/*************** bid phone  425  **************************
@media screen and (min-width: 425px) {
  
}


/*************** tablet  768  ******************************
@media screen and (min-width: 768px) {

}


/*************** laptop  1024 ******************************
@media screen and (min-width: 1024px) {
    
} 


/***************big laptop  ********************************
@media screen and (min-width: 1440px) {	

}  */